* {
    margin: 0;
    padding: 0;
}
.menu {
    text-align: center;
    background-color: white;
}
.intro{
    color: white;
    text-align: center;
    border: 2px;
    border-style: dotted;
    border-radius: 10px;
    border-color: blue;
    margin: 100px 500px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}
body{
    background-color: black;
    height: 10000px;
}
.full-box{
background-color: red;
height: 200px;
}
.middle-box{
color: white;
background-color: green;
text-align: center;
margin: 50px 650px;
padding-top: 20px;
padding-bottom: 60px;
}